<div class='container'>
  <p style="color: green"><%= notice %></p>
  <h1>User's Mistakes</h1>
  <table class='table compact table-striped' id='mistake_users' data-source='<%= mistake_users_url(format: :json) %>'>
    <thead>
      <tr>
        <th>Name</th>
        <th>Mistakes</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>
